<div class="max-w-md mx-auto flex p-6 bg-white rounded-lg shadow-xl">
  <div class="flex-shrink-0 flex">
    <img
      class="h-12 w-12"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
      alt="Angular Logo"
    />
    <img
      class="h-12 w-12"
      src="https://www.markusantonwolf.com/media/pages/blog/tailwind-css/265298487-1593769247/tailwind-css-logo.svg"
      alt="Tailwind Logo"
    />
  </div>
  <div class="ml-6 pt-1">
    <h4 class="text-xl text-gray-900 leading-tight">Angular 10 🖤 Tailwind CSS</h4>
    <p class="text-base text-gray-600 leading-normal">Starter kit</p>
  </div>
</div>
